name : CI

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name : install deps
        run : |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: run tests
        run : |
          pytest .github/workflows/conftest.py calculator.py